<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid container">
        <div class="navbar-header">
        <a class="navbar-brand" href="/">iLoveMyCity!</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="<%= cityName == 'berlin' ? 'active' : '' %>"><a href="/berlin">Berlin</a></li>
            <li class="<%= cityName == 'paris' ? 'active' : '' %>"><a href="/paris">Paris</a></li>
            <li class="<%= cityName == 'madrid' ? 'active' : '' %>"><a href="/madrid">Madrid</a></li>
            <li class="<%= cityName == 'london' ? 'active' : '' %>"><a href="/london">London</a></li>
            <li class="<%= cityName == 'newyork' ? 'active' : '' %>"><a href="/newyork">New York</a></li>
        </ul>
    </div>
</nav>
<br/><br/><br/><br/>